#content
  +min-height(200px)
  +clearfix
  +border-radius
  +box-shadow(#777 0 0 3px)
  background-color: #fff
  margin-bottom: 20px

#body_content
  margin: 20px

  h1, h2, h3, h4, h5
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 10px

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  #body
    float: left
    width: 647px

    h1, h2, h3, h4, h5
      color: #bb6802

    .inner

      img
        display: block
        border: 3px solid #c0e9ff
        +border-radius(3px)

      .floatl
        margin: 0 15px 0 0

      .floatr
        margin: 0 0 0 15px


    .inquiries
      .field
        margin-bottom: 10px

        label
          font-size: 14px
          display: block
          margin-bottom: 3px

        input, textarea
          font-size: 12px
          font-family: 'Verdana', 'Tahoma', sans-serif
          border: 1px solid #aeaeae
          +border-radius(3px)
          padding: 5px
          margin: 0

          &:focus
            border-color: #bb6802
            background-color: #fef4e5

        input
          width: 350px

        textarea
          width: 635px
          resize: vertical

      .notice
        color: #bb6802
        font-size: 11px
        margin-bottom: 15px

      .actions input
        cursor: pointer
        font-size: 12px
        font-family: 'Verdana', 'Tahoma', sans-serif
        border: 1px solid #cf9450
        +border-radius(5px)
        background-color: #ffce82
        +background(linear-gradient(top, #fed595, #fec76d))
        padding: 6px 30px 7px
        margin: 0

        &:hover
          +text-shadow(1px 1px 1px #cf9450)

        &:active
          +background(linear-gradient(top, #fec76d, #fed595))
          padding: 7px 30px 6px

  #side_body
    float: right
    width: 253px

    h1, h2, h3, h4, h5
      color: #1a64a6

    .inner
      border: 2px solid #c0e9ff
      +border-radius
      background-color: #c0e9ff
      padding: 13px
      margin-bottom: 15px

      .margin_left
        margin-left: 38px

    .weather
      border: 2px solid #c0e9ff
      +border-radius
      padding: 13px
