<div class='weather'>
  <h3>Погода</h3>
  <!-- Gismeteo informer START -->
  <div id='gsInformerID-0mi21rC8V582Pg' class='gsInformer' style='width:225px;height:124px'>
    <div class='gsIContent'>
      <div id='cityLink'>
        <a href='http://www.gismeteo.ru/city/daily/3244/' rel='nofollow' target='_blank'>Погода в Баре</a>
        <br />
        <a href='http://www.gismeteo.ru/city/daily/3242/' rel='nofollow' target='_blank'>Погода в Будве</a>
        <br />
        <a href='http://www.gismeteo.ru/city/daily/3245/' rel='nofollow' target='_blank'>Погода в Подгорице</a>
      </div>
      <div class='gsLinks'>
        <table>
          <tr>
            <td>
              <div class='leftCol'>
                <%= link_to 'http://www.gismeteo.ru', :rel => :nofollow, :target => :_blank do %>
                  <img alt='Gismeteo' title='Gismeteo' src='http://www.gismeteo.ru/static/images/informer2/logo-mini2.png' align='absmiddle' border='0' />
                  <span>Gismeteo</span>
                <% end %>
              </div>
              <div class='rightCol'>
                <a href='http://www.gismeteo.ru/' rel='nofollow' target='_blank'>Прогноз на 2 недели</a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src='http://www.gismeteo.ru/ajax/getInformer/?hash=0mi21rC8V582Pg' type='text/javascript'></script>
  <!-- Gismeteo informer END -->
</div>
